@font-face {
  font-family: "Freizeit Bold";
  src: url("/assets/fonts/Freizeit-Bold.woff2") format("woff2"),
    url("/assets/fonts/Freizeit-Bold.woff") format("woff"),
    url("/assets/fonts/Freizeit-Bold.otf") format("otf");
}

@font-face {
  font-family: "Freizeit ExtraBold";
  src: url("/assets/fonts/Freizeit-ExtraBold.woff2") format("woff2"),
    url("/assets/fonts/Freizeit-ExtraBold.woff") format("woff"),
    url("/assets/fonts/Freizeit-ExtraBold.otf") format("otf");
}

@font-face {
  font-family: "Freizeit ExtraLight";
  src: url("/assets/fonts/Freizeit-ExtraLight.woff2") format("woff2"),
    url("/assets/fonts/Freizeit-ExtraLight.woff") format("woff"),
    url("/assets/fonts/Freizeit-ExtraLight.otf") format("otf");
}

@font-face {
  font-family: "Freizeit Light";
  src: url("/assets/fonts/Freizeit-Light.woff2") format("woff2"),
    url("/assets/fonts/Freizeit-Light.woff") format("woff"),
    url("/assets/fonts/Freizeit-Light.otf") format("otf");
}

@font-face {
  font-family: "Freizeit Medium";
  src: url("/assets/fonts/Freizeit-Medium.woff2") format("woff2"),
    url("/assets/fonts/Freizeit-Medium.woff") format("woff"),
    url("/assets/fonts/Freizeit-Medium.otf") format("otf");
}

@font-face {
  font-family: "Freizeit Regular";
  src: url("/assets/fonts/Freizeit-Regular.woff2") format("woff2"),
    url("/assets/fonts/Freizeit-Regular.woff") format("woff"),
    url("/assets/fonts/Freizeit-Regular.otf") format("otf");
}
