.blogPage {
  background-color: #141414;

  h1 {
    text-align: center;
    padding-top: 250px;
  }

  .description {
    text-align: center;
    margin-top: 20px;
  }

  &_list {
    padding-top: 100px;
    .boton {
      text-shadow: 0px 0px 8px #ffffff;
      font-size: 30px;
      margin-top: 50px;
      cursor: pointer;
      width: fit-content;
      transition: 0.5s all;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
